################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apiToDo/FileContentIndex/f485530a-5882-4250-a366-2d9bba2103a2.vsidx
